body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #000000;
  background-image: url("/Users/vladrybalko/Documents/GitHub/Barber/img/back.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.inner-page {
  color: #000000;
  background-color: #f9f6f3;
  background-image: url("/Users/vladrybalko/Documents/GitHub/Barber/img/bg/pattern-light.png");
  background-position: 0 0;
  background-repeat: repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
display: inline-block;
padding: 10px 30px;
margin-right: 16px;


font: inherit;

text-align: center;
color: #ffffff;
vertical-align: middle;
text-transform: uppercase;

background-color: #000000;
border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0,5;
  background-color: #000000;
}

.main-navigation,
.navigation {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}



.features-item {
  text-align: center;
}


.index-columns {
  display: flex;
  justify-content: space-between;

  padding: 50px 80px;
  margin-bottom: 35px;

  color: #000000;

  background-color: #f7f4f1;
  background-image:
  url("/Users/vladrybalko/Documents/GitHub/Barber/img/line.png"),
  url("/Users/vladrybalko/Documents/GitHub/Barber/img/bg/pattern-light.png");
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
}

.index-columns h2 {
  margin: 0;
  margin-bottom: 25px;

  font-size: 30px;
  line-height: 42px;
}

.news-list {

  list-style: none;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.news-item {
margin-bottom: 25px;
}

.news-item p {
  margin: 0;
}

.news-item time {
  text-transform: none;
}


.index-columns time {
  text-transform: none;
}

.gallery-container {
  position: relative;
  height: 260px;
}

.gallery-content {
  height: 164px;
  margin: 0;

  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.gallery-button {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;

  width: 140px;
  margin: 0;
}

.gallery-button-back {
  left: 0;
}

.gallery-button-next {
  right: 0;
}


.gallery-content img {
  width: 286px;
  height: 164px;
}


.appointment-item input {
  box-sizing: border-box;
  width: 140px;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7px;

  font: inherit;

  background-color: transparent;
  border: 2px solid #000000;
}

.appointment-item input:focus {
  border-color: #663d15;
}

.appointment-item {

  width: 140px;
  margin: 0;
  margin-bottom: 10px;
}

.appointment-item label {
  display: block;
  margin-bottom: 9px;
  margin-left: 15px;
}

.appointment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.appointment .button {
  width: 100%;
  margin-top: 10px;
  margin-right: 0;
}

.main-footer {
  color: #ffffff;

  background-color: #242424;
  background-image: url("/Users/vladrybalko/Documents/GitHub/Barber/img/bg/pattern-dark.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.footer-contacts a {
color: #ffffff;
text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  width: 145px;
  text-align: center;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 141px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}


.social-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 43px;
  height: 43px;

  background-color: #000000;
}

.social-button:hover,
.social-button:focus {
  background-color: #ffffff;
}

.social-button:hover path,
.social-button:focus path {
  fill: #000000;
}

.footer-social b {
  display: block;

  margin-bottom: 15px;
}

.footer-copyright b {
  display: block;

  margin-bottom: 15px;
}

.footer-copyright .button {
  display: block;
  margin-right: 0;
}

.footer-copyright {
  text-align: center;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #000000;
  background-color: #ffffff;
}

.modal {
  position: fixed;


  color: #000000;

  background-color: #f7f4f1;
  background-image: url("/Users/vladrybalko/Documents/GitHub/Barber/img/bg/pattern-light.png");
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-login {
  top: 120px;
  left: 50%;

  display: none;

  width: 300px;
  margin-left: -230px;
  padding: 50px 80px;
}

.modal-login h2 {
  margin: 0;
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 42px;
}

.modal-description {
  margin: 0;
  margin-bottom: 10px;
}

.login-form p {
  margin: 0;
  margin-bottom: 10px;
}

.modal-close {
  position: absolute;
  top: 0;
  right: -34px;

  width: 22px;
  height: 22px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;

  width: 19px;
  height: 3px;

  background-color: #d0d0d0;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal h2 {
  font-size: 30px;
  line-height: 42px;
}

.modal-map {
  top: 50%;
  left: 50%;

  display: none;
  width: 766px;
  height: 561px;
  margin-top: -280px;
  margin-left: -390px;

  border: 7px solid white;
}

.modal-map p {
  margin: 0;
}

.login-form input[type="text"],
.login-form input[type="password"] {
box-sizing: border-box;
width: 300px;
padding: 10px 15px;
padding-right: 40px;

font: inherit;
color: #000000;
text-transform: uppercase;

background-color: #f9f6f3;
border: 2px solid #000000;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-icon-user {
  background-image: url(/Users/vladrybalko/Documents/GitHub/Barber/img/user.svg);
  background-position: 270px center;
  background-repeat: no-repeat;
}

.login-icon-password {
  background-image: url(/Users/vladrybalko/Documents/GitHub/Barber/img/lock.svg);
  background-position: 270px center;
  background-repeat: no-repeat;
}
.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}

.login-checkbox {
  position: relative;

  padding-left: 30px;

  cursor: pointer;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;

  width: 17px;
  height: 17px;

  border: 2px solid #000000;
}

.login-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 1px;

  width: 15px;
  height: 2px;

  background-color: #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  transform: rotate(-45deg);
}

.catalog-checkbox:hover,
.catalog-checkbox:focus {
  color: #663d15;
}

.catalog-checkbox {
  position: relative;

  padding-left: 45px;

  cursor: pointer;
}

.catalog-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  left: 0;
  top: -3px;

  width: 17px;
  height: 17px;

  border: 2px solid #000000;
}

.catalog-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.catalog-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.catalog-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 1px;

  width: 15px;
  height: 2px;

  background-color: #000000;
}

.catalog-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg);
}

.catalog-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  transform: rotate(-45deg);
}

.filter-option input[type="radio"]:checked,
.filter-option input[type="radio"]:not(:checked)
{
    position: absolute;
    left: -9999px;
}


.filter-option input[type="radio"]:checked + label,
.filter-option input[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 45px;

    cursor: pointer;
}

.filter-option input[type="radio"]:checked + label:before,
.filter-option input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: -2px;
    width: 17px;
    height: 17px;
    border: 2px solid #000000;


}


.filter-option input[type="radio"]:checked + label:before,
.filter-option input[type="radio"]:not(:checked) + label:before {
    border-radius: 100%;
}

.filter-option input[type="radio"]:checked + label:after,
.filter-option input[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.filter-option input[type="radio"]:checked + label:after,
.filter-option input[type="radio"]:not(:checked) + label:after {
    position: absolute;
    left: 6px;
    top: 4px;
    width: 9px;
    height: 9px;
    border-radius: 100%;
    background-color: #000000;
}

.filter-option input[type="radio"]:not(:checked) + label:after {
  opacity: 0;
}

.filter-option input[type="radio"]:checked + label:after {
  opacity: 1;
}


.login-form .login-help {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px 0;
}

.login-form .button {
  width: 100%;
  margin-right: 0;
}

.restore {
  color: #000000;
  text-decoration: underline;
}

.restore:hover,
.restore:focus {
  text-decoration: none;
}

.page-title {
  font-size: 30px;
  line-height: 42px;

    margin: 0;
    margin-bottom: 15px;
    padding: 0;
}

.breadcrumbs {
  display: flex;

  width: 630px;

  list-style: none;


}

.breadcrumbs a {
  color: #000000;
  padding-right: 40px;
}


.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current {
  color: #aba9a7;
}

.breadcrumbs a {
  position: relative;
}

.breadcrumbs a::after {
  content: "";

  position: absolute;

  width: 8px;
  height: 8px;
  margin-left: 15px;
  bottom: 5px;

  transform: rotate(45deg);

  background-color: #000000
}



.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 24px;
  line-height: 30px;
}

.filter ul {
  list-style: none;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #663d15;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.5;
}

.filter-option {
  margin-top: 20px;
  margin-bottom: 20px;
}

.filter-option:last-child{

  margin-bottom: 40px;
}

.group-product {
  display: block;
  width: 220px;

}


.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog-category {
  text-transform: none;
}

.catalog-item a {
color: #000000;
}

.catalog-item h3 {
  font-size: 14px;
  line-height: 18px;
}



.pagination-item a {
  color: #ffffff;
  background-color: black;
  padding: 14px 18px;
  margin-bottom: 0;

}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: #663d15;
}

.pagination-item-current a{
  color: #000000;

  background-color:#ffffff;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  color: #000000;

  background-color: #ffffff;
}

.product-photo-review {
  display: flex;
  justify-content: space-between;
  margin-left: -40px;
  margin-top: 0;

  list-style: none;

  width: 460px;
}



.product-photo-full {

  width: 460px;
  height: 500px;
  margin-bottom: 0;
}

.product-article {
  text-align: right;
  color: #aeaeae;
}

.catalog-item-price b {

  line-height: 20px;
  text-align: center;
  padding: 12px 0;
  width: 110px;



  background-color: #e5e5e5;
}

.catalog-item-price .button {
  padding: 12px 0;

  line-height: 20px;
  margin: 0;
  color: #ffffff;

  width: 80px;


}

.catalog-item-price {
  display: flex;
  justify-content: center;

}



.product-including h3 {
  font-size: 24px;
  line-height: 30px;
}

.product-including ul {
  list-style: none;
}

/* Сетка главной */

.main-header {
  margin-bottom: 75px;
  background-color: #000000;

}

.main-navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.main-header-logo {
  display: block;
  margin: 0 auto 70px;

  width: 368px;
  height: 153px;

}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
  margin: 0;
  padding: 0;
}

.site-navigation a,
.user-navigation a {
  display: block;
  padding: 25px 20px;

  color: #ffffff;
}


.user-navigation {
  display: flex;
  max-width: 140px;

  margin: 0;
  padding: 0;
}

.user-navigation .login-link {
  position: relative;
  padding-left: 50px;
}

.login-link::before {
content: "";

position: absolute;
top: 27px;
left: 24px;

width: 16px;
height: 18px;

background-image: url(/Users/vladrybalko/Documents/GitHub/Barber/img/login1.svg);
background-repeat: no-repeat;
background-position: 0 0;

opacity: 0.3;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
  opacity: 1;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.features-list {

  list-style: none;

  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  list-style: none;
}

.features-item {
  width: 300px;

  text-align: center;
}

.features-item h3 {
  position: relative;

  margin: 0;
  margin-bottom: 60px;

  font-size: 30px;
  line-height: 42px;
}

.features-item h3::after {
  content: "";

  position: absolute;
  bottom: -30px;
  left: 50%;

  width: 20px;
  height: 20px;
  margin-left: -10px;


  transform: rotate(45deg);

  background-color: #ffffff;
}

.features-item p {
  margin: 0 10px;
}



.features {
  margin-bottom: 80px;
}

.news {
  width: 380px;

}

.gallery {
  width: 300px;
}

.contacts {
  width: 380px;
}

.contacts p {
  margin: 0;
  margin-bottom: 30px;
}

.appointment {
  width: 300px;
}

.main-footer {
  margin-top: 65px;
  padding: 60px 0;
}

.footer-contacts {
  margin: 0;
  width: 320px;
  margin-right: 80px;
}

.footer-social {
  width: 145px;
}

.footer-copyright {
  margin: 0;
  width: 150px;
  margin-left: auto;
}

.main-footer .container {
  display: flex;
}

/* Сетка каталога */

.inner-page .header {
  margin-bottom: 50px;
  background-color: #000000;
}

.inner-page .header-logo {
  order: 0;

  width: 111px;
  height: 24px;
  padding: 23px 20px;
}

.inner-page .main-navigation {
  align-items: flex-start;
  flex-direction: row;
}

.inner-page .user-navigation {
  margin-left: auto;
}



.breadcrumbs {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
}

.filter {
  width: 180px;

}



.catalog {
  width: 700px;
}

.catalog-columns {
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-left: -15px;

}


.catalog-item {
  display: block;

  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  width: 220px;
  margin-bottom: 20px;
  margin-right: 20px;

}

.catalog-item-image {
  margin-top: 0;
  margin-bottom: 0;
}

.catalog-category,
.catalog-item-title {

  margin-left: 15px;

}



.catalog-header {
  margin-top: 0;

}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  margin-bottom: 25px;

  list-style: none;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 195px;
  justify-content: space-between;
}



.inner-page .main-footer {
  margin-top: 60px;
}

.product-photos {

  width: 430px;
}

.product-info {
  width: 390px;
}
